# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env
.venv
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Coverage
htmlcov/
.coverage
.tox/
.cache/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd


env/
*.pyc
__pycache__/
